* {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

body, html {
  font-family: "Ubuntu Mono", Monaco, monospace;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  background: url("../img/ground.png") #c3ddf9 bottom repeat-x fixed;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  width: 100%;
}

footer a {
  margin: 10px;
  display: block;
  float: left;
}

span.about-jump-buds {
  cursor: pointer;
  float: right;
  margin: 10px;
}

div.about {
  width: 300px;
  height: 100px;
  position: fixed;
  z-index: 1000;
  display: none;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  line-height: 20px;
}

.about-inner {
  margin: 0px auto;
}

span.close {
  cursor: pointer;
  font-size: 11px;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.support {
  display: none;
}
.no-js .support {
  display: block;
}

h1 {
  font-size: 20px;
  margin-left: 15px;
  float: left;
}

span.music {
  display: block;
  float: right;
  margin: 15px 20px 0px 0px;
  cursor: pointer;
}

.jumper {
  background-image: url("../img/jumper.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 36px;
  height: 68px;
  position: absolute;
  bottom: 1000px;
  left: 80px;
  z-index: 200;
}

.jumper.walk {
  background-image: url("../img/jumper-walk.gif");
}

.jumper.jump {
  background-image: url("../img/jumper-jump.gif");
}

.jumper.left {
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
}

.jumper.pooping {
  background-image: url("../img/jumper-jump.gif");
}

.poop {
  width: 5px;
  height: 5px;
  background-color: #856300;
  position: absolute;
  z-index: 100;
}


.npc {
  width: 32px;
  height: 32px;
  background-color: #B8F500;
  position: absolute;
  z-index: 300;
  bottom: 1000px;
  left: 500px;
  cursor: crosshair;
}

.npc.clicked {
  background-color: #F53D00;
}

.npc.clicked:before {
  content: "!";
  width: 32px;
  height: 32px;
  margin-top: -32px;
  position: absolute;
  text-align: center;
  color: #F53D00;
  font-size: 30px;
}