body, html {
  font-family: "Ubuntu Mono", Monaco, monospace;
  height: 100%;
  margin: 0px;
  background: url("../img/ground.png") #c3ddf9 bottom repeat-x fixed;
  
}

.jumper {
  background-image: url("../img/jumper.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 36px;
  height: 68px;
  position: absolute;
  bottom: 1000px;
  left: 20px;
}

.jumper.walk {
  background-image: url("../img/jumper-walk.gif");
}

.jumper.jump {
  background-image: url("../img/jumper-jump.gif");
}

.jumper.left {
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
}

.support {
  display: none;
}
.no-js .support {
  display: block;
}

h1 {
  color: #fff;
  font-size: 20px;
  margin-left: 15px;
  float: left;
}

span.music {
  color: #fff;
  display: block;
  float: right;
  margin: 20px 20px 0px 0px;
}